@import "../../variables";

// .body {
//         background: url(https://web-design-and-tech-tips.com/wp-content/uploads/2018/01/pexels-photo-92905-1024x682.jpeg)   
//     }

.image {
  width: 35px;
  height: 35px;
}
.navbar {
  background-color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-emphasis-color: $orange;
  font-size: 14px;
  font-weight: bold;
  color: $orange;
  text-decoration: none;
}

.logout-button {
  font-size: 14px;
    border: none;
    border-radius: 12px;
    color: $black;
    font-weight: bold;
    width: 75px;
}

.h3 {
  color: $orange;
  font-size: 18px;
  font-weight: $default-font-weight;

}

.ul {
  float: left;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.link {
  list-style-type: none;
  color: $orange;
  font-size: 14px;
  font-weight: bold,
}


