$primary-color: black;
$accent-color: orange;
$background-color: white;
$header-text-color: lightgrey;
$text-color: black;
$font-weights: (
    "regular": 300,
    "bold": 500,
);


body {
    background: $background-color;
    color: $text-color;
    font-weight: map-get($font-weights, regular);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

